html {
	position: relative;
	min-height: 100%;
}
.vert {
	border-left: thick solid lightgrey;
}


.bod {
  display: flex;  
  flex : nowrap;
  /*width: 100%;*/
}
/**{
	outline : 1px solid red;
}*/
.heading {
	/*padding-left: 100%;*/
	font-size: 15px;
	display : block;
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	padding: 1%;
	background-color: wheat;
	/*background-color: #cccccc;*/
	/*background-image: url("C:/Users/DELL/Documents/GitHub/mejaz.github.io/images/imagesUC7CDL86.jpg");*/
/*	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 100%;*/
}

table {
	width: 100%;
	border: 1px solid grey;
}
tr td {
	border: 1px solid grey;
	padding: 1%;
}

.thought {
	/*float : left;*/
	font-style: italic;
	padding: 1%;
	padding-left: 2%;
	background-image: url("C:/Users/DELL/Documents/GitHub/mejaz.github.io/images/images.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.bgcolor {
	/*background-color: lightpink;*/
}
.cbgcolor {
	/*background-color: lightyellow;*/
	height: 100%;
	/*border: 1px solid lightgrey;*/

}
.log {
	padding-top: 2%;
}
.hbgcolor {
	background-color: slateblue;
/*	display: flex;
	flex : wrap;*/
}
.nbgcolor {
	background-color: lightgrey;
}
.fbgcolor {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	width: 100%;
	background-color: slateblue;
}
@media only screen and (max-width: 750px) {
	.th {
		display: none;
	}
	.vert {
		display: none;
	}
	h1 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
	.heading, .name, h3 {
		padding-left: 7%;
		padding-right: 7%;
	}
}

